@use '../abstracts/' as *;

.btn {
  cursor: pointer;
  padding: 0.3rem 1.5rem;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 2px 0 var(--neon-blue-light), 0 2px 5px hsla(0, 0%, 0%, 0.5%);

  &--primary {
    background-color: var(--neon-blue);
    color: var(--white);

    &:hover, &:focus {
      background-color: var(--neon-blue-dark);
      box-shadow: inset 0 2px 0 var(--neon-blue-dark), 0 2px 5px hsla(0, 0%, 0%, 0.5);
      color: var(--gray-3);
    }
  
    &:active {
      background-color: var(--neon-blue-darkest);
      box-shadow: none;
      color: var(--gray-5);
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: var(--gray-5);
    color: var(--gray-9);
    box-shadow: none;
  }
}