@use '../abstracts/' as *;

.btn {
  cursor: pointer;
  padding: 0.3rem 1.5rem;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 2px 0 var(--neon-blue-light), 0 2px 5px hsla(0, 0%, 0%, 0.5%);

  &--primary {
    background-color: var(--neon-blue);
    color: var(--blue-gray-01);

    &:hover,
    &:focus {
      background-color: var(--neon-blue-dark);
      box-shadow: inset 0 2px 0 var(--neon-blue-dark), 0 2px 5px hsla(0, 0%, 0%, 0.5);
      color: var(--blue-gray-03);
    }

    &:active {
      background-color: var(--neon-blue-darkest);
      box-shadow: none;
      color: var(--blue-gray-03);
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: var(--blue-gray-05);
    color: var(--blue-gray-09);
    box-shadow: none;
  }

  &--pagination {
    min-width: 1.8rem;
    padding: 0.4rem 0.3rem;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    color: var(--blue-gray-05);
    font-weight: 300;
    border-inline-start: 1px solid var(--blue-gray-05);

    &:first-child {
      border: none;
    }

    &:hover,
    &:focus {
      background-color: var(--blue-gray-04);
      color: var(--blue-gray-09);
    }

    &--active {
      background-color: var(--blue-gray-04);
      color: var(--blue-gray-09);
    }
  }

  &[data-page='...'] {
    cursor: default;

    &:hover,
    &:focus {
      background-color: initial;
      color: var(--blue-gray-05);
    }
  }
}
