.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 16rem;
  flex-grow: 1;
  padding: 1rem;
  border-radius: var(--br);
  background-image: linear-gradient(0deg, var(--blue-gray-08) 0%, var(--blue-gray-06) 100%);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);

  &__figure {
    border-radius: 2px;
    border: 5px solid var(--blue-gray-07);
    margin-bottom: 1rem;
  }

  &__image {
    max-height: 25rem;
  }

  &__title {
    font-size: 1rem;
    text-align: center;
    line-height: 1.25;
    color: var(--gray-02);
  }

  &__year {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-04);
  }
}
