@use '../abstracts/' as *;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    width: 15rem;
    padding: 0.3rem 0.5rem;
    position: relative;
    margin-bottom: 1rem;
    background-color: var(--blue-gray-7);
    color: var(--white);
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.2%), inset 0 2px 2px hsla(0, 0%, 0%, 0.2%);
    background-image: url(../../assets/icons/search.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 97% center;

    &:focus {
      width: 18rem;
      background-color: var(--blue-gray-5);
      box-shadow: 0 3px 0 var(--neon-blue);
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}