.loader {
  display: block;
  height: 96px;
  width: 96px;
  background-image: url(../../assets/images/movie-roll.svg);
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}