// @use '../abstracts/variables' as *;

@font-face {
	font-family: "Rubik";
	src: url("../../assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../../assets/fonts/rubik/Rubik-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../../assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../../assets/fonts/rubik/Rubik-BoldItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: 'Rubik', sans-serif;
	line-height: 1.5;
}

.title {
	font-family: 'Rubik', sans-serif;
	font-size: clamp(2rem, 7.273vw + 0.545rem, 4rem);
	margin: 2rem 0 1rem 0;
	text-align: center;
	background-color: hsl(337, 91%, 38%);
	background-image: linear-gradient(45deg, rgba(183,9,76,1) 0%, rgba(92,77,125,1) 50%, rgba(0,145,173,1) 100%);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-text-fill-color: transparent;
}