:root {
  --gray-09: hsl(0, 0%, 13%);
  --gray-08: hsl(0, 0%, 26%);
  --gray-07: hsl(0, 0%, 38%);
  --gray-06: hsl(0, 0%, 46%);
  --gray-05: hsl(0, 0%, 62%);
  --gray-04: hsl(0, 0%, 74%);
  --gray-03: hsl(0, 0%, 88%);
  --gray-02: hsl(0, 0%, 93%);
  --gray-01: hsl(0, 0%, 96%);

  --blue-gray-09: hsl(227, 13%, 10%);
  --blue-gray-08: hsl(227, 13%, 20%);
  --blue-gray-07: hsl(227, 13%, 30%);
  --blue-gray-06: hsl(227, 13%, 40%);
  --blue-gray-05: hsl(227, 13%, 50%);
  --blue-gray-04: hsl(227, 13%, 60%);
  --blue-gray-03: hsl(227, 13%, 70%);
  --blue-gray-02: hsl(227, 13%, 80%);
  --blue-gray-01: hsl(227, 13%, 90%);

  --white: hsl(0, 0%, 100%);
  --neon-red: hsl(337, 91%, 38%);
  --neon-blue: hsl(190, 100%, 34%);
  --neon-blue-light: hsl(190, 100%, 40%);
  --neon-blue-dark: hsl(190, 100%, 25%);
  --neon-blue-darkest: hsl(190, 100%, 15%);

  --br: 3px;
}
