:root {
  --gray-9: hsl(0, 0%, 13%);
  --gray-8: hsl(0, 0%, 26%);
  --gray-7: hsl(0, 0%, 38%);
  --gray-6: hsl(0, 0%, 46%);
  --gray-5: hsl(0, 0%, 62%);
  --gray-4: hsl(0, 0%, 74%);
  --gray-3: hsl(0, 0%, 88%);
  --gray-2: hsl(0, 0%, 93%);
  --gray-1: hsl(0, 0%, 96%);

  --blue-gray-9: hsl(227, 13%, 15%);
  --blue-gray-8: hsl(227, 13%, 20%);
  --blue-gray-7: hsl(227, 13%, 25%);
  --blue-gray-6: hsl(227, 13%, 30%);
  --blue-gray-5: hsl(227, 13%, 35%);

  --white: hsl(0, 0%, 100%);
  --neon-red: hsl(337, 91%, 38%);
  --neon-blue: hsl(190, 100%, 34%); 
  --neon-blue-light: hsl(190, 100%, 40%);
  --neon-blue-dark: hsl(190, 100%, 25%);
  --neon-blue-darkest: hsl(190, 100%, 15%);
}